/* -------------------new style start------------------------ */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    margin: 2rem 2rem;
    padding: 2rem 2rem;
    /* border: 1px solid #ff0000; */
}

table {
    border-collapse: collapse;
    border: 2px solid #000;
    letter-spacing: 1px;
    font-family: sans-serif;
    width: 79%;
    margin: 5rem 10rem;
}
tbody {
    background-color: #c8ffff;
}
tr {
    padding: 5px 10px;
    border: 1px solid #8ec2c2;
    text-align: center;
}
.heading{
    background-color: #5ea0a0;
    font-weight: 600;
}

td {
    border: 1px solid #bebebe;
    padding: 5px 10px;
    text-align: center;
    border: 2px solid #8ec2c2;
}
td:hover{
    background-color: #3e6969;
    color: #fff;
}

body{
    background-color: #ebffff;
}

/* Navbar start */
.navbar{
    background-color: #c8ffff;
    border-radius: 5px;
    color: #000;
    padding: 10px;
    margin: 3rem auto;
    width: 80%;
    height: auto;
    /* border: 2px solid #8ec2c2; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.navbar ul{
    display: flex;
    margin: 5px 10px;
    padding: 5px 10px;
}
.navbar li{
    margin: 7px;
    padding: 7px 15px;   
    list-style-type: none;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
    transition: all 0.4s ease;
    /* border: 1px solid #ff0000; */
}
.navbar li:hover{
    border-bottom: 3px solid #000;
    border-right: 3px solid #000;
    color: #000;
    border-radius: 8px;
    transition: all 0.4s ease;
}

.navbar li a{
    text-decoration: none;
    /* border: 1px solid #0000ff; */
    color: #000;
    font-weight: 600;
}
/* Navbar End */

a{
    text-decoration: none;
    color: #000;  
}
.main{
    /* border: 1px solid #007b5e;  */
    text-align: center;
    color: #000a61;
    margin: 40px auto;
    text-decoration: underline;
}


/* button */
.type-2 {
    border-radius: 6px;
    background-color: #5EA0A0;
    border: 0;
    box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.302);
    padding: 7px 13px;
    width: auto;
    height: 33px;
    font-size: 16px;
    font-weight: 550;
    transition: all 0.5s ease;
  }
  .type-2:hover {
    transition: all 0.5s ease;
    box-shadow: 3px 3px 3px #88e0e0;
  }


input {
  margin: 10px 5px;
  border: 2px solid gray;
  border-radius: 6px;
  padding: 5px;
  background: #f1f1f1;
  width: 25%;
}

.cform{
    text-align: center;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    align-items: center;
    background-color: #e1ffff;
    height: auto;
    padding: 20px 10px 20px 10px;
    margin: 20px auto;
    width: 80%;
}

textarea{
    border-radius: 12px;
    padding: 7px;

}

section {
    padding: 30px 0;
}

section .section-title {
    text-align: center;
    color: #c8ffff;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #c8ffff !important;

}
#footer h5{
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #000a61;
    font-size: 24px;
    text-align: center;
}
.footerLi{
    text-align: center;
    align-items: center;
    justify-content:center;
    list-style-type: none;
    margin: 7px;
    padding: 7px;   
}
#footer a {  
    color: #000a61;
    display: flex;
    text-decoration: none !important;
    background-color: transparent;
    padding: 7px 15px;
    margin: 20px auto;
    font-weight: 600;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.faltu{
    text-align: center;
}
li{
    list-style-type: none;
}


/* -----------------------new style end-------------------- */