{% extends 'pred_app/base.html' %}
{% load static %}
{% block content %}

<!-- 
<!DOCTYPE html>
<html>

<head>

  <title>Prediction</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="{% static 'css/newstyle.css' %}" type="text/css" media="all">
</head>

<body>
  <div class="p-5 text-center bg-image">

    <nav class="navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'pred' %}">Prediction</a>
        </li>
      </ul>
    </nav> -->

    <!-- ------------------------------------------------------------ -->



    
    <!-- <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3" style="color: rgb(2, 16, 29);">Previously Evaluated Companies</h1>
          </div>
        </div>
      </div> -->

    <h1 class="main">Previously Evaluated Companies</h1>

    <!-- Background image -->
    </header>

    </head>

    <body>
      <div class="container">
      
        {% if data %}

            <table class="table">
              <thead>
                <td class="heading">Sr.No</td>
                <td class="heading">Company Name</td>
              </thead>
              <br>
              <tbody>
                {% for i in data %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td> <a href="{% url 'Show_Data' i.id %}">{{i}}</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

          {% endif %}

      </div>

     
{% endblock %}