{% extends 'pred_app/base.html' %}
{% load static %}
{% block content %}

<!-- <!DOCTYPE html>
<html>

<head>

  <title>Prediction</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="{% static 'css/newstyle.css' %}" type="text/css" media="all">
</head>

<body>
  <div class="p-5 text-center bg-image">

    <nav class="navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'pred' %}">Prediction</a>
        </li>
      </ul>
    </nav>
     -->
    <!-- ------------------------------------------------------------ -->



    <h1 class="main">Stock Market</h1>

  </div>


  {% if table %}
  <div class="container">
    <button class="type-2"> <a href="{% url 'dashboard' %}">Dashboard</a></button>

    <div class="row">
      {% if data %}
      <center>
        <h2>Company Name : {{ data.nse_comp }}</h2>
      </center>
      <br>
      <img src="{{ data.open_img.url }}" width="1000">
      <img src="{{ data.Change_img.url }}" width="1000">
      <img src="{{ data.Data_img.url }}" width="1000">

      {% endif %}
    </div>
    <center>
      {% if table %}
      {{ table|safe }}
      {% endif %}
    </center>
  </div>

  {% else %}

  <form method="POST">
    <div class="cform">
      {% csrf_token %}
      <label for="text">Enter Company Name:</label>
      <input type="text" name="cnm">

      <label for="date">Start Date:</label>
      <input type="date" name="sdate">

      <label for="date">End Date:</label>
      <input type="date" name="edate" max="{{ endata|date:'Y-m-d' }}">

      <button type="submit" value="Find Prediction" class="type-2">Submit</button>
    </div>

  </form>


  {% if stock_list %}

      
        <table class="table table-striped">
          <th>
            <tr>
              <td class="heading">Sr. No</td>
              <td class="heading">Symbol</td>
              <td class="heading">Name </td>
            </tr>
          </th>
          <tbody>
            {% for logo,nm in stock_list.items %}
            <tr>
              <td>{{ forloop.counter}}</td>
              <td>{{ logo }}</td>
              <td>{{ nm }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
 

  {% endif %}

  {% endif %}
  <div>


    <div>
      {% if no_data %}
      <span>Sorry, No sells Data available.</span>
      {% else %}
      <br>
      <center>
        {% comment %} 
        <table border="2" class="table" style="width:600px">
          <h1 id="demo"></h1>
          <tr>
            <th style="color:black; font-weight: bold;">Year</th>
            <th style="color:black; font-weight: bold;">Stock Change</th>
          </tr>
          {% for d in data1 %}
          <tr>
            <td>{{d.0}}</td>
            <td>{{d.1}}</td>

          </tr>
          {% endfor %}
        </table> {% endcomment %}
      </center>
    </div>
    {% endif %}
    {% if not no_data %}
    {% comment %} <div style="width: 800; height:500;">{% autoescape off %} {{ plot_div }} {% endautoescape %}</div> {% endcomment %}
    {% endif %}
  </div>
  </div>

  {% endblock %}